:root {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.input-m {
  font-size: medium;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.input-m-box {
  padding: 15px 0px;
}

.input-m-broom {
  color: #ea580c;
}

.input-m-trash {
  color: #b91c1c;
}

.moti-text {
  font-style: italic;
  font-size: small;
  font-weight: 500;
  color: rgb(88, 88, 88);
}

.strike {
  text-decoration: line-through;
}