/* Universal selector, applies to everything BUT no inheritance involved! */
* {
  /* border-top: 10px solid #1098ad; */
  /* "global reset"; very common to do this */
  margin: 0;
  padding: 0;
}

/* Styles in here will get inherited by child elements! */
body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* position: relative; */
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px; */
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

/* CLEARING FLOATS */

/* 1. Not an ideal solution as it results in having unnecessary divs
.clear {
  clear: both;
} */

/* 2 */
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}

/* Instead of doing this, we can make use of inheritance
nav a:link,
nav strong {
  font-size: 18px;
} */

nav {
  font-size: 18px;
}

/* NOTE: anchor element is an inline element so only horizontal margins are applied
   To make them behave like block elements use "display: block" */
nav a:link {
  /* background-color: orangered; */
  /* margin: 20px; */
  /* padding: 20px; */
  /* display: block; */

  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/* h1, h2, h3, h4, p, li {
  font-family: sans-serif;
  color: #444;
} */

h1, h2, h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

/* Pseudo-element ; note it is 2 colons "::" */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px; /* Note: collapsing margin - with overlapping margins, only one shows */
}

/* Adjacement sibling element selector "+"
h3 + p::first-line {
  color: red;
} */

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul, ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; => Get one line chunk of text */
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

#copyright {
  font-size: 16px;
}

/* article header p {
  font-style: italic;
} */

#author {
  font-size: 18px;
  font-style: italic;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.post-img {
  width: 100%; /* % of width of parent container; in this case the header */
  height: auto;
  /* margin: 100px;
     NOTE: images behave like inline-block elements
     Images flow horizontally with text => inline behaviors
     Creates vertical space => block behavior
     Can set width/height => block behavior
  */
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

/* body {
  background-color: gainsboro;
} */

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  /* pseudo-class first-child */
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(even) {
  color: red;
} */

/*
  Here, we might expect the p with id author to be red but
  actually, it will not change as it is not the first child
  of the article.
 */
article p:first-child {
  color: red;
}

/*
  This works as expected; our p is the last child of article.
 */
/* article p:last-child {
  color: red;
} */

/* Styling links 
   RMB: LVHA !
 */
a:link {
  /* Note: only applies to anchors with href */
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving conflicts 
   Note: Hover to see selector specificity
 
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
}*/

.like-btn {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* -- FLOATS -- */
.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  /* padding-left: 100px; */
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

/* NOTE: .main-header bg color height became 0 bc both child elems are floated 
         We call this as height collapsing; the main-header's height collapsed.
 */

h1 {
  float: left;
}

nav {
  float: right;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
}
